<a href="https://colab.research.google.com/github/jollybiks/testing/blob/main/ifelsepractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# If elif else Practice

* Question 1: A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [ ]:
salary = int(input())
y_o_s = int(input())

if y_o_s > 5:
    bonus = salary * 0.5
    print(f"Your Salary is {salary} and your Bonus is {bonus}")
else:
    print("No Bonus")

1500
21
Your Salary is 1500 and your Bonus is 750.0

In [ ]:
True & True | False

True

In [ ]:
False & True | True

True

In [ ]:
False | True | False

True

In [ ]:
True | False | True

True

In [ ]:
False | False & True

False

* Question 2: Take values of length and breadth of a rectangle from user and check if it is square or not.

In [ ]:
length = input()
breadth = input()
if length == breadth:
    print("It is a Square")
else:
    print("Opps! Not a Square")

* Pooja would like to withdraw X USD from an ATM. The cash machine will only accept the transaction if X is a multiple of 5, and Pooja's accountbalance has enough cash to perform the withdrawal transaction (including bank charges). For each successful withdrawal the bank charges 0.50 USD.
* Calculate Pooja's account balance after an attempted transaction.
* Input: Intitial Balance 20000 USD
* Output: Output the account balance after the attempted transaction, given as a number with two digits

In [ ]:
withd_amt = int(input())
inti_bal_USD= 200000 
bank_chrgs = 0.50

if withd_amt % 5 == 0:
    gv_mny = withd_amt + bank_chrgs
    acc_bal = inti_bal_USD-gv_mny
    print(f"Pooja's Account Balance is {acc_bal} ")
else:
    print("Please Enter Amount multiple of 5")

2500
Pooja's Account Balance is 197499.5

Question 3:
* Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:
     Unit           Price  
* First 100 units                                                   no charge
* Next 100 units                                                   Rs 5 per unit
* After 200 units                                                  Rs 10 per unit
* (For example if input unit is 350 than total bill amount is Rs2000)

In [ ]:
units_cons = int(input("Enter the units consumed: "))

if units_cons <= 100:
    print("Consumption is less than 100, No Charges")
elif units_cons > 100 and units_cons < 200:
    a1 = (units_cons - 100) * 5
    print(f"Your Electricity Bill is: {a1}")
elif units_cons >= 200:
    b1 = (units_cons - 200) * 10 + 500
    print(f"Your Electricity Bill is: {b1}")
else:
    print("Thanks for using our services")

Enter the units consumed: 1500
Your Electricity Bill is: 13500

* Question 4: Write a program to check whether a number entered is five digit number or not, and find its middle number

In [ ]:
num1 = int(input("Enter any Number: "))
l = len(str(num1))

if l != 5:
    print("Enter a Three digit Number ")
else: 
    print("Middle Digit is", ((num1%1000)//100))

Enter any Number: 23458
Middle Digit is 4

* Question 5 Write a program to check whether an years is leap year or not.

In [ ]:
year = int(input("Enter the year: "))

if year % 4 == 0:
    print("It's a leap year")
else:
    print("Not a leap year")

Enter the year: 2000
It's a leap year

In [ ]:
year = int(input("Enter the year: "))

if year%100 ==0:
    if year%400 == 0:
        print(" Entered year is a leap year")
    else:
        ("Entered year is not a leap year")
else:
    if year % 4 == 0:
        print("It's a leap year")
    else:
        print("Not a leap year")

Enter the year: 2004
It's a leap year